#main{
	background: #F2F4F6;
	.detail-box{
		margin-top:50px;
		margin-bottom:30px;
		padding:20px;
		padding-right:0;
		background:#fff;
		overflow:hidden;
		.pic-box{
			float: left;
			img{
				width: 460px;
				height: 460px;
			}
			ul{
				margin-top:20px;
				li{	
					margin:10px;
					margin-left: 60px;
					width: 76px;
					border:2px solid #FF4965;
					padding:6px;
					img{
						width: 60px;
						height: 60px;
					}
				}
			}
			a{	
				margin-left:60px;
				font-size: 12px;
				color:#666;
				i{
					margin-right: 6px;
				}
				&:hover{
					color:#FF4965;
				}
			}
			
		}
		.content-box{
			margin-left:23px;
			float: left;
			width: 540px;
			padding-right:10px;
			.b-lr{
				border:3px solid #EEEEEE;
				border-top:none;
				padding-bottom: 60px;
				padding-top: 20px;
			}
			.title{
				font-size: 20px;
				line-height:24px;
				span{
					color:#FF5482;
					margin-right:10px;
					
				}
			}
			p{
				color:#775544;
				font-size: 12px;
				line-height: 20px;	
			}
			.red-save{
				height: 80px;
				background: #FE4A7A;
				border-radius: 5px;
				margin: 10px 0;
				margin-bottom: 0;
				padding:16px 0 0 0px;
				span{
					display: inline-block;
					height: 44px;
					padding:0 25px;
					text-align: center;
					&:nth-child(1){
						font-size: 44px;
						color:#fff;
						
					}
					&:nth-child(2){
						font-size: 14px;
						color:#fff;
						vertical-align: top;
						text-decoration: line-through;
					}
					&:nth-child(3){
						font-size: 14px;
						color:#fff;
					}
					&:nth-child(4){
						font-size: 14px;
						color:#fff;
					}
				}
			}
			.m-l{
				margin-left:86px;
				color:#888;
				font-size: 14px;
				line-height: 40px;
			}
			.fan{
				position:relative;
				cursor: pointer;
				&:hover{
					.tips{
						display: block;
					}
				}
				span{
					display: inline-block;
					width: 24px;
					height: 16px;
					text-align: center;
					line-height: 16px;
					color:#fff;
					background: #FF8135;
					margin: 0 0px 0 10px;
				}
				.tips{
					display: none;
					position:absolute;
					background: #fff;
					top:80%;
					right:0;
					width: 395px;
					padding:15px;
					border: 2px solid #EEEEEE;
					border-radius: 8px;
					p{
						text-indent: 12px;
						font-size: 12px;
						line-height: 18px;
						color:#888;
					}
				}
				i{
					font-size: 12px;
					font-weight: 900;
				}
			}
			.yunfei{
				margin-right: 15px;
			}
			.color{
				i{
					margin-right: 10px;
				}
					
				span{
					margin:3px;
					font-size: 14px;
					color:#000;
					line-height: 0;
					display: inline-block;
					padding:2px 8px 2px 2px;
					border:1px solid #B8B7BD;
					cursor: pointer;
					&.gou{
						background: url(../images/gou.png) no-repeat right bottom;
						border:1px solid #FA0D66;
					}
					&:hover{
						border:1px solid #FE4A7A;
					}
					img{
						width: 25px;
						height: 25px;
						margin-right: 4px;
						border:1px solid #ccc;
					}
					}
				
				
			}
			.size{
				i{
					margin-right: 10px;
				}
				span{
					display: inline-block;
					padding:8px;
					line-height:14px;
					font-size: 14px;
					border:1px solid #ddd;
					margin: 0 3px;
					color:#000;
					cursor:pointer;
					&.gou{
						background: url(../images/gou.png) no-repeat right bottom;
						border:1px solid #FA0D66;
					}
					&:hover{
						border:1px solid #FE4A7A;
					}
				}
			}
			.qty{
				margin-left: 58px;
				margin-top:16px;
				position: relative;
				i{
					position: absolute;
					display: inline-block;
					height: 28px;
					width: 22px;
					background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#eee));
					top:1px;
					left:73px;
					text-align: center;
					line-height:28px;
					font-size: 12px;
					cursor: pointer;
					&:hover{
						background: -webkit-gradient(linear,left top,left bottom,from(#e0e0e0),to(#f0f0f0));
					}
					
				}
				.less{
					border-top-left-radius: 3px;
					border-bottom-left-radius: 3px;
					border-right:1px solid #ccc;
				}
				.plus{
					top:1px;
					left:121px;
					border-top-right-radius: 3px;
					border-bottom-right-radius: 3px;
					border-left:1px solid #ccc;

				}
				span{
					display: inline-block;
					width: 72px;
					height: 30px;
					padding: 0 22px;
					border:1px solid #CCCCCC;
					text-align: center;
					line-height: 30px;
					color:#000;
					font-size: 14px;
					border-radius: 3px;
					margin-left: 16px;
					margin-right: 6px;	
				}
			}
			.buy{
				margin: 30px 0 0 128px;
				a{
					display: inline-block;
					width: 140px;
					height: 50px;
					margin-right: 10px;
					border-radius: 6px;
					color: #fff;
					background: #FF4965;
					text-align: center;
					vertical-align: middle;
					font-size: 12px;
					padding-top:5px;
					text-decoration: none;
					&:nth-child(2){
						line-height:40px;
						background: #fff;
						font-size: 20px;
						color:red;
						border:1px solid red;
					}
					span{
						font-size: 20px;
					}
				}
			}
		}
	}
	.other-box{
		margin-top:50px;
		.jieshao{
			border: 1px solid #DDDDDD;
			border-top:0;
			width: 870px;
			background: #fff;
			.top-nav{
				border-top: 1px solid #DDDDDD;
				box-shadow: 0 1px 1px #d1d1d1;
				background: #F2F4F6;
				overflow: hidden;
				a{
					display:block;
					float: left;
					width: 106px;
					height: 46px;
					color:#777;
					font-size: 14px;
					text-align: center;
					line-height: 46px;
					border-right: 1px solid #ccc;
					&:nth-child(1){
						background: #fff;
					}
					&:hover{
						background: #fff;
						color:#FA0D66;
						flex-wrap: 900;
					}
					i{
						margin: 0 6px;
					}
				}
			}
			.adbox{
				padding:40px 0 0 46px;
				.ad01{
					h3{
						font-size: 18px;
						color:#FF007F;
						font-weight: 900;
						line-height: 50px;
					}
					.table{
						width: 745px;
						height: 198px;
						background: url(../images/table.png);
						margin: 30px 0;
					}
					.bg01{
						width: 740px;
						height: 390px;
						background: url(../images/bg01.png);
						margin: 30px 0;

					}
					.bg02{
						width: 740px;
						height: 270px;
						background: url(../images/bg02.png);
						margin: 30px 0;
					}
				}
				.ad04{
					margin-top:50px;
					h3{
						font-size: 18px;
						color:#FF007F;
						font-weight: 900;
						line-height: 50px;
					}
				}
			}
		}
		.tuijian{
			width: 160px;
			border:1px solid #ccc;
			background: #fff;
			// min-height: 180px;
			h3{
				font-size: 16px;
				background: #F8F8F8;
				line-height: 44px;
				font-weight: 800;
				height: 44px;
				text-align: center;
				border-bottom: 1px solid #ccc;
			}
			ul{
			
				li{	
					&:hover{
						img{
							transform: scale(2);
						}
					}
					a{
						text-decoration: none;
					}
					text-align:center;
					margin:20px 0;
					padding: 0 10px;
					div{
						text-align: left;
						line-height: 30px;
						span{
							font-size: 18px;
							color:#FF5482;
							margin-right: 10px;
							letter-spacing: normal;
							word-spacing: normal;
							vertical-align: top;
							text-rendering: auto;
							}
						i{
							font-size: 12px;
							margin-left: 10px;
							color:#999999;
						}
					}
					p{
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						line-height:28px;
						color:#666;
						height:28px;
					}
					img{
						width: 114px;
						height: 114px;
					}
				}
			}
			
			
		}
	}
}
.fly-img{
	position:absolute;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	opacity:0;
}