#header-top {
  height: 29px;
  background: #F4F4F4;
  border: 1px solid #E8E8E8;
}

#header-top .login-name a:nth-child(1) {
  color: #FF4965;
  text-decoration: none;
}

#header-top .login-name a:nth-child(1) i {
  color: #58bc58;
  margin-right: 8px;
  font-weight: 900;
}

#header-top .login-name a.tuichu {
  color: #000;
  text-decoration: none;
  margin-left: 12px;
}

#header-top .login-name a.tuichu:hover {
  color: #000;
}

#header-top .container {
  width: 1083px;
}

#header-top ul {
  font-size: 12px;
}

#header-top ul li {
  height: 29px;
  line-height: 29px;
  margin-right: 3px;
  padding: 0 8px 0 12px;
}

#header-top ul li.des {
  margin: 7px 0;
  height: 15px;
  width: 1px;
  background: #ddd;
  padding: 0;
}

#header-top ul .li-hover .dropdown {
  position: relative;
  padding-right: 5px;
  border: 1px solid transparent;
  padding-left: 2px;
}

#header-top ul .li-hover .dropdown:hover {
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom: none;
}

#header-top ul .li-hover .dropdown:hover .h-hover {
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
}

#header-top ul .li-hover .h-hover {
  position: absolute;
  top: 29px;
  left: 0px;
  width: 98px;
  display: none;
}

#header-top ul .li-hover .h-hover p {
  line-height: 20px;
}

#header-top ul i {
  color: #ccc;
}

#header-top ul li a {
  color: #000;
  margin: 3px;
}

#header-top ul li:nth-child(1) a:nth-child(2) {
  color: #FD6C7B;
  font-size: 12px;
}

#header-top ul li:nth-child(7) span {
  color: #FD6C7B;
}

#header-top ul li:nth-child(9) {
  margin-left: 6px;
}

#header-top ul .guanzhu {
  position: relative;
}

#header-top ul .guanzhu:hover {
  background: #fff;
}

#header-top ul .guanzhu:hover .booker {
  display: block;
  border-top: none;
}

#header-top ul .guanzhu .booker {
  width: 200px;
  padding: 10px;
  padding-left: 15px;
  position: absolute;
  border: 1px solid #ccc;
  display: none;
  z-index: 100;
  background: #fff;
  top: 23px;
  left: -60px;
}

#header-top ul .guanzhu .booker dl:nth-child(1) {
  border-right: 1px dashed #999999;
  padding-right: 6px;
}

#header-top ul .guanzhu .booker dd img {
  margin: 5px;
  margin-top: 10px;
}

#header .container {
  width: 1068px;
  height: 90px;
  padding: 15px 0 0 0px;
}

#header .logo a {
  display: block;
}

#header .logo a h1 {
  text-indent: -9999px;
  position: absolute;
}

#header .logo-right a {
  display: block;
  width: 390px;
  height: 40px;
  background: url("../images/h_logo2.png");
  margin-left: 230px;
  margin-top: 10px;
}

#header .header-car {
  position: relative;
  margin-top: 15px;
  right: 13px;
}

#header .header-car > a {
  display: block;
  width: 133px;
  height: 33px;
  border-radius: 10px;
  background-color: #FF647C;
  color: #fff;
  padding-left: 20px;
}

#header .header-car > a span {
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 33px;
}

#header .header-car > a span i {
  font-size: 12px;
  margin-left: 10px;
  line-height: 33px;
}

#header .header-car .icon-car {
  position: absolute;
  top: 0;
  left: -18px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #444444;
  box-shadow: 0 0 0 0 #000,0px 0px 0px 2px #fff;
}

#header .header-car .icon-car i {
  color: #fff;
  width: 33px;
  font-size: 16px;
  text-align: center;
  line-height: 33px;
}

#header .header-car:hover .carbox {
  display: block;
}

#header .header-car .carbox {
  display: none;
  position: absolute;
  z-index: 100;
  width: 360px;
  min-height: 230px;
  border: 1px solid #FF647C;
  left: -228px;
  top: 33px;
  background: #fff;
}

#header .header-car .carbox .carlist {
  min-height: 200px;
  line-height: 200px;
  font-size: 16px;
  font-weight: 900;
  color: #ddd;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

#header .header-car .carbox .jiesuan {
  height: 50px;
  padding: 10px 0 10px 10px;
}

#header .header-car .carbox .jiesuan li {
  float: left;
}

#header .header-car .carbox .jiesuan .c-red {
  color: #FF647C;
  font-size: 14px;
  font-weight: 900;
}

#header .header-car .carbox .jiesuan .gotocar-btn {
  margin-left: 130px;
}

#header .header-car .carbox .jiesuan .gotocar-btn a {
  display: block;
  background-color: #FF647C;
  color: #fff;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 900;
  text-align: center;
  height: 30px;
  border-radius: 5px;
}

#header .header-car .carbox .jiesuan .gotocar-btn a span {
  line-height: 30px;
}

#nav {
  width: 100%;
  height: 40px;
  background: #FF647C;
}

#nav .container {
  position: relative;
}

#nav .container > a {
  float: left;
  width: 90px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  font-weight: 900;
  color: #fff;
}

#nav .container > a:hover {
  background: #F34660;
}

#nav .container > a:nth-child(1) {
  background: #F34660;
}

#nav .container > a:nth-child(7) {
  position: relative;
}

#nav .container > a:nth-child(7) i {
  display: block;
  width: 28px;
  height: 18px;
  background: url("../images/nav_hot.png");
  position: absolute;
  top: -18px;
  right: 6px;
}

#nav .container .nav-search {
  position: absolute;
  right: 15px;
  top: 2px;
}

#nav .container .nav-search .search_class {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  position: relative;
}

#nav .container .nav-search .search_class span {
  height: 35px;
  line-height: 35px;
  font-size: 12px;
}

#nav .container .nav-search .search_class span i {
  margin: 0 5px;
  font-size: 12px;
}

#nav .container .nav-search .search_class .m-bn-con {
  font-size: 14px;
  text-align: right;
  padding-right: 5px;
  line-height: 30px;
  position: absolute;
  z-index: 190;
  display: none;
  left: -239px;
  top: 35px;
  width: 498px;
  min-height: 520px;
  background-color: #f9f9f9;
  border: 1px solid #ececec;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.15);
}

#nav .container .nav-search .search_class .m-bn-con .bn-cate li {
  width: 110px;
  text-align: center;
  height: 34px;
  line-height: 34px;
  border-bottom: 1px solid #ececec;
  background-color: #f9f9f9;
  color: #666;
  cursor: pointer;
  font-size: 12px;
}

#nav .container .nav-search .search_class .m-bn-con .bn-cate li:hover {
  background: #fff;
}

#nav .container .nav-search .search_class .m-bn-con .bn-con {
  margin-left: 110px;
  background: #fff;
  border-left: 1px solid #ececec;
  min-height: 520px;
}

#nav .container .nav-search .search_class .m-bn-con .bn-con ul {
  padding: 10px;
  padding-bottom: 0;
}

#nav .container .nav-search .search_class .m-bn-con .bn-con ul li {
  text-align: center;
  padding: 15px 14px 0 14px;
  float: left;
  width: 90px;
  height: 120px;
  border-right: 1px dashed #ececec;
  border-bottom: 1px dashed #ececec;
  overflow: hidden;
  cursor: pointer;
}

#nav .container .nav-search .search_class .m-bn-con .bn-con ul li a {
  display: inline-block;
}

#nav .container .nav-search .search_class .m-bn-con .bn-con ul li a:hover label {
  color: #FF647C;
}

#nav .container .nav-search .search_class .m-bn-con .bn-con ul li a label {
  font-size: 12px;
  line-height: 30px;
  color: #999;
  font-weight: 100;
}

#nav .container .nav-search .search_kuan {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  position: relative;
  margin-left: 10px;
}

#nav .container .nav-search .search_kuan input {
  width: 175px;
  height: 28px;
  border-radius: 6px;
  line-height: 28px;
  padding-left: 12px;
  padding-right: 25px;
  font-size: 12px;
}

#nav .container .nav-search .search_kuan i {
  display: block;
  width: 25px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  position: absolute;
  top: 5px;
  right: 0;
  color: #ccc;
}

#nav-bottom {
  height: 30px;
}

#nav-bottom .container a {
  float: left;
  height: 30px;
  line-height: 30px;
  padding: 0 16px;
  font-size: 12px;
  color: #999999;
}

#nav-bottom .container a:hover {
  color: #FF506B;
  text-decoration: none;
  border-bottom: 2px solid #FF506B;
}

#nav-bottom .container .yugao {
  float: right;
  padding: 0 40px;
  background: #F7F7F7;
  color: #FF506B;
  font-size: 14px;
  font-weight: 900;
}

#nav-bottom .container .yugao span {
  margin: 0 5px 0 0;
}

#footer-pic {
  width: 100%;
  overflow: hidden;
}

#footer-pic img {
  margin-left: -260px;
}

#footer-content {
  width: 100%;
  background: #F1F1F1;
  padding: 18px 0 0 18px;
}

#footer-content .tac {
  text-align: center;
}

#footer-content .tac .linkbox {
  border-bottom: 1px solid #E9E1E8;
}

#footer-content .tac .zhengping a {
  display: block;
}

#footer-content .tac .linkbox dl {
  border-left: 1px solid #FDFDFD;
  border-right: 1px solid #E9E1E8;
  float: left;
  height: 120px;
  margin: 15px 0;
  padding: 0 0px 0 15px;
  width: 135px;
  text-align: left;
}

#footer-content .tac .linkbox dl i {
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
}

#footer-content .tac .linkbox dl dt {
  color: #777;
  font-size: 14px;
}

#footer-content .tac .linkbox dl dd {
  margin: 0 0 0 3px;
}

#footer-content .tac .linkbox dl dd a {
  display: block;
  height: 22px;
  line-height: 22px;
  overflow: hidden;
  padding-left: 2px;
  color: #888;
}

#footer-content .tac .linkbox dl.no-l-border {
  border-left: 0;
}

#footer-content .tac .linkbox dl.no-r-border {
  border-right: none;
  background: url(../images/footer-weixing.png) no-repeat;
  width: 95px;
  padding: 10px 0 0 105px;
  height: 110px;
}

#footer-content .tac .linkbox dl.no-r-border dd {
  width: 110px;
}

#footer-content .tac .linkbox dl.no-r-border p.pink {
  width: 105px;
  color: #ff5482;
  font-size: 12px;
}

#footer-content .tac .linkbox dl.no-r-border p.pink .c-999 {
  color: #999;
}

#footer-content .tac .linkbox dl.no-r-border .sns-link {
  display: inline-block;
  width: 34px;
  height: 34px;
  padding: 0;
  margin: 10px 5px 0 0;
  background: url(../images/footer-weixing.png) -106px -55px;
}

#footer-content .tac .linkbox dl.no-r-border .zoom {
  background-position: -145px -56px;
}

#footer {
  text-align: center;
  color: #666;
  min-width: 1000px;
}

#footer .footer-nav {
  border-top: 3px solid #ff5482;
  background: #555;
  padding: 10px 0;
  color: #ddd;
}

#footer .footer-nav a {
  color: #ddd;
  margin: 0 6px;
}

#footer .footer-copy {
  background: #fff;
  padding: 20px 0 40px;
  color: #999;
  font-size: 12px;
}

#footer .footer-copy .mt-8 {
  margin-top: 8px;
}

#footer .footer-copy .mt-20 {
  margin-top: 20px;
}

.fixed-car {
  width: 75px;
  position: fixed;
  background: #fff;
  left: 50%;
  top: 300px;
  margin-left: 543px;
  color: #FE899B;
  opacity: 0.6;
}

.fixed-car:hover {
  opacity: 1;
}

.fixed-car ul {
  border-bottom: 1px solid #EBEBEB;
}

.fixed-car ul li {
  border: 1px solid #EBEBEB;
  height: 48px;
  border-bottom: none;
  text-align: center;
  line-height: 48px;
  font-size: 18px;
}

.fixed-car ul li:hover {
  background: #FF4975;
  color: #fff;
}
